<p>My account</p>

<!-- Link to view transactions -->
<%= link_to "Transactions", transactions_path %>

<!-- Link to list an item -->
<%= link_to "List an Item", new_listed_item_path %>

<!-- Link to view your items -->
<%= link_to "My Items", my_items_listed_items_path %>
