<div class="navbar">
  <div class="dropdown">
    <button type="button" onclick="myFunction()" class="dropbtn"><i class="fa-solid fa-bars"></i></button>
    <div class="dropdown-content">
      <a href="/my_account">My Account</a> <!-- Updated href attribute -->
      <a href="#">Settings</a>
      <a href="#">Sign Out</a>
    </div>
  </div>
  <div class="title-container">
    <%= link_to root_path do %>
      <i class="fa-solid fa-tag"></i>
      <h1 class="main-title">Style 'n Raise</h1>
    <% end %>
  </div>
  <div class="navbar-elements">
    <i class="fa-solid fa-magnifying-glass"></i>
    <a href="#home">Home</a>
    <a href="#messages">Messages</a>
    <i class="fa-solid fa-cart-shopping"></i>
  </div>
</div>
