/* Style the navbar */
.navbar {
  background-color: white;
  padding: 10px;
  padding-right: 25px; /* Adjust padding to make space for the dropdown button */
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Style the dropdown button */
.dropbtn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Style the dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Style the links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change link color on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show dropdown content when hovering over dropdown */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Style the title container */
.title-container {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Style the title */
.main-title {
  font-family: "Indie Flower", cursive, sans-serif;
  font-size: 24px;
  margin: 0;
  margin-left: 5px; /* Add some space between icon and title */
}

/* Style the navbar elements */
.navbar-elements {
  display: flex;
  align-items: center; /* Align items vertically */
}

/* Style the navbar links */
.navbar a {
  color: black;
  text-decoration: none;
  padding: 14px 20px;
  display: inline-block;
  font-size: small;
}

/* Change link color on hover */
.navbar a:hover {
  background-color: #f1f1f1;
}

/* Style the icon */
.fa-solid.fa-tag {
  font-size: 25px;
  color: #f50056;
}

/* Style the shopping cart icon */
.fa-solid.fa-cart-shopping {
  font-size: 15px;
}
